<!----seccion central-->
<div class="flex flex-col md:flex-row ml-0 mt-3 p-15 w-full m-t">
  <div id="calendario" class="w-full md:w-1/2 mr-5  bg-white">
    <div class="  items-center justify-center h-auto
    flex-wrap rounded-md shadow-sm p-3 mt-3 ">
      <!--<app-event-calendar></app-event-calendar>
      -->
      <app-notificaciones-listado >
      </app-notificaciones-listado>
  </div>
  </div>
  <div id="enlacesPrincipales" class="w-full md:w-1/2   bg-white">
    <div class="items-center justify-center h-auto  p-3  flex-wrap rounded-md shadow-sm ">
       <app-menu-derecho-dashboard></app-menu-derecho-dashboard>
    </div>
  </div>
</div>
