<aside>
    <nav>
        <ul>
            <img src="/assets/logoISP63.jpg" alt="Logo" class="Logo">
            <li><a href="">
                    <i class="bi bi-house-door"></i>
                    <p>Inicio</p>
                </a>
            </li>
            <li><a href="">
                    <i class="bi bi-person-fill"></i>
                    <p>Perfil Alumno</p>
                </a></li>
            <li><a href="">
                    <i class="bi bi-people"></i>
                    <p>Cursado</p>
                </a></li>
            <li><a href="">
                    <i class="bi bi-calendar4"></i>
                    <p>Eventos</p>
                </a></li>
            <li><a href="">
                    <i class="bi bi-pass"></i>
                    <p>Mesa Finales</p>
                </a></li>
            <li><a href="">Movilidad</a></li>
            <li><a href="">
                    <i class="bi bi-bell"></i>
                    <p>Notificaciones</p>
                </a></li>
            <li><a href="">
                    <i class="bi bi-chat-right"></i>
                    <p>Mensajes</p>
                </a></li>
            <li><a href="">
                    <i class="bi bi-sliders"></i>
                    <p>Configuracion</p>
                </a></li>
            <li><a href="">
                    <i class="bi bi-arrow-left-circle"></i>
                    <p>Salir</p>
                </a></li>
        </ul>
    </nav>
</aside>