
    <div  *ngIf="carrera === 'tecnicatura'" class="mx-10" >
      <!--////TABS PERFIL Y CAMPO //////////////////////--->
        <div>
        <!-- Contenido de tabs -->
          <h1 class="flex font-bold justify-center text-4xl mt-4 py-4">Tecnicatura Superior en Desarrollo de Software</h1>
          <h1 class="flex font-bold justify-center text-4xl mt-3">Perfil del Egresado</h1>
          <!-- datos perfil -->
          <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">

          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <!-- contenido perfil -->
            <p class="text-justify leading-relaxed text-gray-700">

              <p class="mb-3 text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">El Técnico Superior en Desarrollo de Software estará capacitado para producir software , lo que
                comprende su diseño detallado, construcción -reutilizando elementos existentes o programándolos enteramente- y
                verificación unitaria, así como su depuración, optimización y mantenimiento; desarrollando las actividades
                descriptas en el perfil profesional y cumpliendo con los criterios de realización establecidos para las mismas
                en el marco de un equipo de trabajo organizado por proyecto.</p>
              <p class="text-gray-500 dark:text-gray-400"> Participa en proyectos de desarrollo de software
              desempeñando roles que tienen por objeto producir artefactos de software (programas, módulos, objetos). Estos
              artefactos suelen integrarse en aplicaciones o subsistemas que interactúan entre sí, con otras aplicaciones ya
              existentes desarrolladas con la misma o distinta tecnología, con el sistema operativo del computador u otro software
              de base (motor de base de datos, navegador, monitor de comunicaciones) configurando distintas capas de software
              que pueden estar distribuidas en diversas máquinas situadas en la misma o distintas ubicaciones.
          </p>

          </div>
          </div>

          <h1 class="flex font-bold justify-center text-4xl mt-4">Campo Ocupacional</h1>
          <!-- datos campo -->
          <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">

          <div id="descripcion-carrera" class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <!-- contenido campo ocupacional -->
                  <p class="text-justify leading-relaxed text-gray-700">
                      El Técnico Superior en Desarrollo de Software será capaz de utilizar las herramientas informáticas
                      existentes y hacerlas funcionar de manera eficaz y eficiente, contemplando en su formación distintas áreas
                      de conocimiento, entre las cuales se encuentran: programación, metodologías de desarrollo, arquitectura
                      y redes, diseño de sistemas, bases de datos, dirección de proyectos informáticos, siendo imprescindible
                      que en su formación profesional adquiera las capacidades para adaptarse a los cambios constantes en la materia,
                      con un perfil creativo e innovador y con mentalidad de trabajo en equipo. Con esta formación se encontrará capacitado
                      para producir artefactos de software, lo que comprende su diseño detallado, construcción y verificación unitaria, así
                      como su depuración, optimización y mantenimiento; desarrollando las actividades descriptas en el perfil profesional
                      y cumpliendo con los criterios de realización establecidos para las mismas en el marco de un equipo de trabajo
                      organizado por proyecto. Entendiendo como artefacto de software cualquier parte del software (es decir
                      modelos/descripciones) desarrollado y utilizado durante el desarrollo y mantenimiento de software, como son:
                      modelos de arquitectura y de diseño, código de fuente y ejecutable (programas), instrucciones de configuración,
                      datos de prueba, scrips de prueba, modelos de proceso, planes de proyecto, u otra documentación pertinente.
                  </p>
                  </div>
          </div>

</div>
</div>
    <div  *ngIf="carrera === 'lengua'"  class="mx-10">


  <h1 class="flex font-bold justify-center text-4xl mt-4">Campo Ocupacional</h1>
  <!-- datos campo -->
  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">

  <div id="descripcion-carrera" class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <!-- contenido campo ocupacional -->
          <p class="text-justify leading-relaxed text-gray-700">

             El Profesor de Lengua y Literatura puede ejercer la docencia en el nivel medio (EGB y Polimodal). Tambien puede Investigar y evaluar el quehacer educativo, tanto en el aula como en la intitucion escolar a fin de aportar nuevas experiencias y metodologias.

              Puede abordar otros desafios: Atencion particular de los alumnos, brindar asesoramiento varios, participar en Congresos, Jornadas, Conferencias, etc.



          </p>
</div>
</div>
</div>

    <div  *ngIf="carrera === 'primaria'" class="mx-10">

      <h1 class="flex justify-center font-bold text-4xl text-gray-900 dark:text-gray-100 mt-6 py-4">Profesorado de Nivel Primario</h1>

      <h1 class="flex justify-center font-semibold text-3xl text-gray-800 dark:text-gray-200 mt-4 mb-6">Perfil del Egresado</h1>
      <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">

      <!-- Contenido perfil -->
      <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">
        <p class="text-justify leading-relaxed text-gray-700 dark:text-gray-300 mb-4">
          <!-- Primer párrafo con estilos adicionales para la primera letra -->
          <span class="first-line:uppercase first-line:tracking-widest first-letter:text-6xl first-letter:font-bold first-letter:text-gray-800 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left">
            La construcción de un diseño curricular para la Formación Docente Primaria, nos posibilita resignificar la tarea docente, de manera tal de pensarla y concebirla como una práctica reflexiva y critica.
          </span>
        </p>


        <p class="text-justify text-gray-700 dark:text-gray-300 mb-4">

          En este sentido pretendemos que el egresado del Profesorado en Educación Primaria sea un docente comprometido ético y políticamente con los procesos culturales, sociales, estéticos de la sociedad en la que vive. Por lo expuesto se aspira a formar un docente con capacidad de:

        </p>

        <!-- Lista con estilo -->
        <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 space-y-2 pl-5">
          <li>Asumirse como sujeto autónomo, creativo, con responsabilidad profesional para la toma de decisiones.</li>
          <li>Contextuafizar las intervenciones de enseñanza en pos de encontrar diferentes y mejores formas de posibilitar los aprendizajes de los estudiantes y apoyar procesos democráticos al interior de las instituciones educativas y de las aulas. Posicionarse comprometidamente en la configuración y consolidación de su identidad como profesional docente.</li>
          <li>Construir espacios de trabajo compartido y colaborativo en las instituciones educativas. Comprender determinados marcos teóricos que lo habiliten para seguir profundizando en los diferentes campos de conocimiento.</li>
          </ul>

          </div>
          <h1 class="flex font-bold justify-center text-4xl mt-4">Campo Ocupacional</h1>

          <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">
         <!-- datos campo -->
        <div id="descripcion-carrera" class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <!-- contenido campo ocupacional -->
                <p class="text-justify leading-relaxed text-gray-700">

                  El profesor de Educación Primaria podrá diseñar, desarrollar y evaluar procesos de enseñanza para la Educación Primaria en sus diferentes ciclos y modalidades; participar en la elaboración y evaluación de planes, programas y proyectos en instituciones formales y no formales.




                </p>

      </div>
</div>

</div>
</div>

<div  *ngIf="carrera === 'tsmi'" class="mx-10">

  <h1 class="flex justify-center font-bold text-4xl text-gray-900 dark:text-gray-100 mt-6 py-4">Tecnicatura Superior en Mantenimiento Industrial</h1>

  <h1 class="flex justify-center font-semibold text-3xl text-gray-800 dark:text-gray-200 mt-4 mb-6">Perfil del Egresado</h1>
  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">

  <!-- Contenido perfil -->
  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">
    <p class="text-justify leading-relaxed text-gray-700 dark:text-gray-300 mb-4">
      <!-- Primer párrafo con estilos adicionales para la primera letra -->
      <span class="first-line:uppercase first-line:tracking-widest first-letter:text-6xl first-letter:font-bold first-letter:text-gray-800 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left">
        El Técnico Superior en Mantenimiento Industrial está capacitado para manifestar conocimientos,
        habilidades, destrezas, valores y actitudes en situaciones reales de trabajo
      </span>
    </p>


    <p class="text-justify text-gray-700 dark:text-gray-300 mb-4">
    Conforme a criterios de         Profesionalidad propios de su área y responsabilidad social podrá:
    </p>

    <!-- Lista con estilo -->
    <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 space-y-2 pl-5">
        <li>Planificar, organizar, dirigir y evaluar su ámbito de trabajo en relación a las distintas áreas de la organización.</li>
        <li>Gestionar el mantenimiento del equipamiento industrial, para garantizar la operación y contribuir a la productividad de la organización.</li>
        <li>Realizar el mantenimiento predictivo, preventivo y correctivo del equipamiento industrial teniendo en cuenta condiciones de higiene y seguridad en el trabajo y las normas de calidad medioambientales.</li>
        <li>Ejecutar, controlar y comunicar información referida a los distintos planes de mantenimiento.</li>
        <li>Integrar equipos de trabajo para analizar y asesorar sobre problemas de mantenimiento industrial.</li>
        <li>Generar propuestas innovadoras y/o emprendimientos productivos propios del ámbito del mantenimiento industrial.</li>
      </ul>

      </div>
      <h1 class="flex font-bold justify-center text-4xl mt-4">Campo Ocupacional</h1>

      <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">
     <!-- datos campo -->
    <div id="descripcion-carrera" class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <!-- contenido campo ocupacional -->
            <p class="text-justify leading-relaxed text-gray-700">

              El técnico de nivel superior en mantenimiento industrial podrá desempeñarse en los ámbitos estatales y privados, empresas y organizaciones de
              la sociedad civil; principalmente en las áreas de mantenimiento de máquinas y equipos que participan en procesos de producción, tales como
              industrias metalmecánicas, químicas, de accesorios, insumos y repuestos.
              Otro importante campo de desempeño está constituido por empresas
              con maquinaria industrial y procesos en sectores productivos como minería, construcción, transporte, sectores agropecuarios y otro tales como
              empresas de servicios. Adicionalmente a los sectores descriptos, se
              encuentran empresas que están al servicio de éstos y que proveen de
              mantenimiento externo, inspecciones predictivas o asesorías de mantenimiento, además del ejercicio libre de la profesión.



            </p>

  </div>
</div>

</div>
</div>

<div  *ngIf="carrera === 'biologia'" class="mx-10">

  <h1 class="flex justify-center font-bold text-4xl text-gray-900 dark:text-gray-100 mt-6 py-4">Profesorado de Educación Secundaria en Biologia</h1>

  <h1 class="flex justify-center font-semibold text-3xl text-gray-800 dark:text-gray-200 mt-4 mb-6">Perfil del Egresado</h1>
  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">

  <!-- Contenido perfil -->
  <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">
    <p class="text-justify leading-relaxed text-gray-700 dark:text-gray-300 mb-4">
      <!-- Primer párrafo con estilos adicionales para la primera letra -->
      <span class="first-line:uppercase first-line:tracking-widest first-letter:text-6xl first-letter:font-bold first-letter:text-gray-800 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left">
        El profesor/a de biología  es apasionado/a en las tareas de aprender, interrogar, buscar, imaginar, proyectar, reflexionar, que son en definitiva atributos inseparables de la sustantiva tarea de enseñar.
      </span>
    </p>


    <p class="text-justify text-gray-700 dark:text-gray-300 mb-4">
      El futuro profesor de Biología deberá poseer las siguientes capacidades y competencias para el desempeño de su rol profesional:    </p>

      <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 space-y-2 pl-5">
        <li>Poseer un dominio adecuado de los contenidos que deberá enseñar.</li>
          <li>Poseer una comprensión básica de la conducta humana y de los procesos cognitivos que ponen en juego para el logro de conceptualizaciones y habilidades en clase.</li>
          <li>Dominar las estructuras básicas de la Biología, Física y Química.</li>
          <li>Aplicar criterios válidos para la selección de contenidos relevantes en concordancia con el grupo de educandos que tiene a su cargo.</li>
          <li>Demostrar respeto a los principios de la ética profesional.</li>
        </ul>

      </div>
      <h1 class="flex font-bold justify-center text-4xl mt-4">Campo Ocupacional</h1>

      <div class="relative overflow-x-auto shadow-lg sm:rounded-lg bg-white dark:bg-gray-900 p-6 mb-8">
     <!-- datos campo -->
    <div id="descripcion-carrera" class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <!-- contenido campo ocupacional -->
            <p class="text-justify leading-relaxed text-gray-700">

              El Profesor en Biología se ha desempeñado tradicionalmente, en la enseñanza de la especialidad en la antigua escuela secundaria y en el nivel superior. Su formación de grado ha sido fundamentalmente disciplinar en función de Planes de Estudios con escasa presencia de materias del campo pedagógico, donde la formación en la práctica docente se realizaba en el último año de la carrera.

A partir de los cambios introducidos por la Ley Federal de Educación, en la estructura del Sistema Educativo, en el curriculum de los diversos niveles y en la Formación Docente, se plantean nuevos roles al docente relacionados con la gestión institucional, la enseñanza por áreas (Ciencias Naturales), la investigación en la didáctica específica y disciplinar; todo lo cual requiere de una formación que articule la teoría con la práctica y que integre los aspectos pedagógicos y disciplinares. En este sentido, en el Perfil del Graduado y en los Alcances del Título, se explicitan los capacidades y conocimientos que los futuros profesores deberán lograr para responder de manera pertinente a las exigencias que los roles mencionados presentan.</p>

              <!-- Lista con estilo -->





  </div>
</div>

</div>
</div>





