<!--Barra lateral derecha-->
<aside>
    <div class="container">
        <div class="sidebar">
            <div class="profile">
                <img src="" alt="Perfil" class="profile-img">
                <p class="parrafo">gabriel</p>
                <p class="parrafo2">Alumno</p>
            </div>
            <div class="updates">
                <h5>Últimas Modificaciones</h5>
                <ul>
                    <li>Ruiz Ezequiel <br>
                        <p class="parrafo2">2 Junio 2024, 13:45 PM</p>
                    </li>
                    <li>Gomez Julieta <br>
                        <p class="parrafo2">2 Junio 2024, 13:40 PM</p>
                    </li>
                    <li>Sau Marcos <br>
                        <p class="parrafo2">2 Junio 2024, 13:35 PM</p>
                    </li>
                    <li>Blanco Ivan <br>
                        <p class="parrafo2">2 Junio 2024, 13:25 PM</p>
                    </li>
                    <li>Minotti Juan <br>
                        <p class="parrafo2">1 Junio 2024, 13:15 PM</p>
                    </li>
                </ul>
            </div>
            <div class="messages">
                <h5>Mensajes</h5>
                <ul>
                    <li>Samantha William <br>
                        <p class="parrafo2">Prof. en Lengua y Lit.</p>
                    </li>
                    <li>Tony Soap <br>
                        <p class="parrafo2">Tec. superior en prog.</p>
                    </li>
                    <li>Karen Hope <br>
                        <p class="parrafo2">Tec. superior en prog.</p>
                    </li>
                    <li>Jordan Nico <br>
                        <p class="parrafo2">Prof. en Lengua y Lit.</p>
                    </li>
                    <li>Nadila Adja <br>
                        <p class="parrafo2">Prof. en Educación prim.</p>
                    </li>
                </ul>
            </div>
            <button class="more">
                <p>Ver Más</p>
            </button>
        </div>
    </div>
</aside>