

<div *ngIf="carrera === 'tecnicatura'">

  <!--////TABS//////////////////////-->
  <h1 class="flex font-bold justify-center text-4xl mt-4 py-10">Tecnicatura Superior en Desarrollo de Software</h1>
  <h1 class="flex font-bold justify-center text-2xl ">Regimen  de Correlatividades</h1>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
        <tr class="text-blue-700 uppercase">
          <th scope="col" class="px-6 py-3">
            <p class="font-semibold">Para rendir</p>
          </th>
          <th scope="col" class="px-6 py-3">
            <p class="font-semibold">Tener aprobada</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Inglés Técnico II
          </th>
          <td class="px-6 py-4">Inglés Técnico I</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Programación I
          </th>
          <td class="px-6 py-4">Lógica y estructura de datos</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Ingeniería de Software II
          </th>
          <td class="px-6 py-4">
            Ingeniería de Software I<br>Redes y Comunicación
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Redes y Comunicación
          </th>
          <td class="px-6 py-4">
            Tecnología de la Información<br>Sistemas Operativos
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Programación II
          </th>
          <td class="px-6 py-4">Programación I</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Bases de Datos II
          </th>
          <td class="px-6 py-4">
            Bases de Datos I<br>Sistemas Operativos<br>Gestión de Proyectos
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Gestión de Proyectos de Software
          </th>
          <td class="px-6 py-4">Ingeniería de Software II</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Práctica Profesionalizante II
          </th>
          <td class="px-6 py-4">
            Práctica Profesionalizante I<br>Administración<br>Innovación y Desarrollo Emprendedor
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div *ngIf="carrera === 'tsmi'">

  <!--////TABS//////////////////////-->
  <h1 class="flex font-bold justify-center text-4xl mt-4 py-10">Tecnicatura Superior en Mantenimiento Industrial</h1>
  <h1 class="flex font-bold justify-center text-2xl ">Regimen de Correlatividades</h1>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
        <tr class="text-blue-700 uppercase">
          <th scope="col" class="px-6 py-3">
            <p class="font-semibold">Para rendir</p>
          </th>
          <th scope="col" class="px-6 py-3">
            <p class="font-semibold">Debe Tener aprobada</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Elementos de Máquicas y Mecanismos
          </th>
          <td class="px-6 py-4">
            Física <br> Mecánica <br> Matemática y Estadística
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Tecnología de los Materiales
          </th>
          <td class="px-6 py-4">
            Química General e Industrial
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Instalaciones y Máquicas Eléctricas
          </th>
          <td class="px-6 py-4">
            Electrotecnia <br> Matemática y Estadística
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Mantenimiento Industrial II
          </th>
          <td class="px-6 py-4">
            Mantenimiento Industrial I <br> Mécanica <br> Electrotecnia
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Mantenimiento Industrial III
          </th>
          <td class="px-6 py-4">Mantenimiento Industrial II</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Tecnología del Frío y Calor
          </th>
          <td class="px-6 py-4">
            Electrotecnia
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Automatización y Control 
          </th>
          <td class="px-6 py-4">Elementos de Máquinas y Mecanismos</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:bg-gray-800 dark:text-white">
            Práctica Profesionalizante II
          </th>
          <td class="px-6 py-4">
            Práctica Profesionalizante I <br> Innovación y Desarrollo Emprendedor
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- Correlatividad Lengua y Literatura -->
<div *ngIf="carrera === 'lengua'">
  <h1 class="flex font-bold justify-center text-4xl mt-4 py-10">Profesorado en Lengua y Literatura</h1>
  <h1 class="flex font-bold justify-center text-2xl ">Regimen  de Correlatividades</h1>

  <!-- Tabla del 1º Año -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
        <tr class="text-blue-700 uppercase">

                  <th scope="col" class="px-6 py-3 text-blue-600">
                    Debe Tener
                  </th>
                  <th scope="col" class="px-6 py-3 text-blue-600">
                    Aprobada
                  </th>
                  <th scope="col" class="px-6 py-3 ">

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Lengua Española
                  </th>
                  <td class="px-6 py-4">1D</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Latín
                  </th>
                  <td class="px-6 py-4">1D</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Literatura Europea II
                  </th>
                  <td class="px-6 py-4">1E</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Comunicación Social I
                  </th>
                  <td class="px-6 py-4">1G</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Lingüística del Texto y Análisis del Discurso
                  </th>
                  <td class="px-6 py-4">1D – 2D</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Literatura Europea III
                  </th>
                  <td class="px-6 py-4">1F – 2F</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Literatura Latinoamericana
                  </th>
                  <td class="px-6 py-4">2F</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Comunicación Social II
                  </th>
                  <td class="px-6 py-4">2G</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Didáctica Especifica
                  </th>
                  <td class="px-6 py-4"></td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Historia de la Lengua Española (*)
                  </th>
                  <td class="px-6 py-4">1D – 2E</td>
                  <td class="px-6 py-4">
                    Para cursar «Historia de la Lengua Española» será requisito haber regularizado el cursado de «Latín».
                  </td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Modelos Teóricos Lingüísticos
                  </th>
                  <td class="px-6 py-4">1D – 2D – 2E</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Seminario: Problemática de la Literatura y las Artes Contemporáneas
                  </th>
                  <td class="px-6 py-4">1E – 1F – 2F</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Teoría Literaria
                  </th>
                  <td class="px-6 py-4"></td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Literatura Argentina
                  </th>
                  <td class="px-6 py-4">1E – 1F – 2F</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Política e Historia Educativa Argentina
                  </th>
                  <td class="px-6 py-4">1A</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Organización y Gestión Institucional
                  </th>
                  <td class="px-6 py-4">1A</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Didáctica Específica
                  </th>
                  <td class="px-6 py-4">1B</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-white dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Ética Profesional
                  </th>
                  <td class="px-6 py-4">3A</td>
                  <td class="px-6 py-4"></td>
                </tr>
                <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Psicología y Cultura del Alumno
                  </th>
                  <td class="px-6 py-4">1C</td>
                  <td class="px-6 py-4"></td>
                </tr>
              </tbody>
            </table>
          </div>
</div>
<!-- Correlatividad Primaria -->
<div *ngIf="carrera === 'primaria'">
  <h1 class="flex font-bold justify-center text-4xl mt-4 py-10">Profesorado de Nivel Primario</h1>
  <h1 class="flex font-bold justify-center text-2xl mt-4 py-10">Regimen  de Correlatividades</h1>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
        <tr class="text-blue-700 uppercase">
            <th scope="col" class="px-6 py-3">Unidad curricular</th>
            <th scope="col" class="px-6 py-3">Correlativa</th>
          </tr>
        </thead>
        <tbody>
          <!-- Correlatividad Primaria -->
          <tr class="bg-gray-100 dark:bg-gray-900">
            <td colspan="2" class="px-6 py-4 font-bold text-lg text-gray-900 dark:text-white">Correlatividad Primaria</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50 dark:bg-gray-800 dark:text-white">
              <span>SEGUNDO AÑO</span> <br> Didáctica General
            </th>
            <td class="px-6 py-4">
              <span>SEGUNDO AÑO</span> <br> Pedagogía <br> Psicología y Educación
            </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50 dark:bg-gray-800 dark:text-white">
              Movimiento y Cuerpo II
            </th>
            <td class="px-6 py-4">Movimiento y Cuerpo I</td>
          </tr>

          <!-- Correlatividad Primaria 3° año -->
          <tr class="bg-gray-100 dark:bg-gray-900">
            <td colspan="2" class="px-6 py-4 font-bold text-lg text-gray-900 dark:text-white">Correlatividad Primaria 3° año</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50 dark:bg-gray-800 dark:text-white">
              Historia Social de la Educación y Política Educativa Argentina
            </th>
            <td class="px-6 py-4">
              Historia Argentina y Latinoamericana <br> Sociología de la Educación
            </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50 dark:bg-gray-800 dark:text-white">
              Literatura y su Didáctica
            </th>
            <td class="px-6 py-4">
              Lengua y su Didáctica <br> Didáctica General
            </td>
          </tr>

          <!-- Correlatividad Primaria 4° año -->
          <tr class="bg-gray-100 dark:bg-gray-900">
            <td colspan="2" class="px-6 py-4 font-bold text-lg text-gray-900 dark:text-white">Correlatividad Primaria 4° año</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50 dark:bg-gray-800 dark:text-white">
              Ética, Trabajo Docente, Derechos Humanos y Ciudadanía
            </th>
            <td class="px-6 py-4">
              Filosofía de la Educación <br> Conocimiento y Educación <br> Historia Social de la Educación y Política Educativa Argentina
            </td>
          </tr>

          <!-- Campo Práctica Profesional -->
          <tr class="bg-gray-100 dark:bg-gray-900">
            <td colspan="2" class="px-6 py-4 font-bold text-lg text-gray-900 dark:text-white">Campo Práctica Profesional</td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50 dark:bg-gray-800 dark:text-white">
              Taller de Práctica II
            </th>
            <td class="px-6 py-4">
              Aprobada: <br> Taller de Práctica <br> Al menos tres de los talleres de segundo año del Campo de la Formación Específica. <br>
              Regularizada: <br> Pedagogía <br> Psicología y Educación
            </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50 dark:bg-gray-800 dark:text-white">
              Taller de Práctica III
            </th>
            <td class="px-6 py-4">
              Aprobada: <br> Taller de Práctica <br> Al menos tres de los talleres de tercer año del Campo de la Formación Específica. <br>
              Regularizada: <br> Pedagogía <br> Psicología y Educación
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
