<section class=" bg-gradient-to-br from-blue-700 to-gray-900 -translate-x-80 fixed inset-0 z-50 mt-16 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0">
  <div class="relative border-b border-white/20">

<!-- Contenido de tabs -->
  <h1 class="flex font-bold justify-center text-4xl mt-4 py-10">Plan de Correlatividades</h1>
  <!-- Tabla del 1º Año -->

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
          <tr class="text-blue-700 uppercase">
              <th scope="col" class="px-6 py-3">
                  <p class="font-semibold">Para rendir</p>
              </th>
              <th scope="col" class="px-6 py-3">
                  <p class="font-semibold">Tener aprobada</p>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Inglés Técnico II
              </th>
              <td class="px-6 py-2">
                  Inglés Técnico I
              </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Programación I
              </th>
              <td class="px-6 py-2">
                  Lógica y estructura de datos
              </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Ingeniería de Software II
              </th>
              <td class="px-6 py-2">
                  Ingeniería de Software I
                  <br> Redes y Comunicación
              </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Redes y Comunicación
              </th>
              <td class="px-6 py-2">
                  Tecnología de la Información
                  <br> Sistemas Operativos
              </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Programación II
              </th>
              <td class="px-6 py-2">
                  Programación I
              </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Bases de Datos II
              </th>
              <td class="px-6 py-2">
                  Bases de Datos I
                  <br> Sistemas Operativos
                  <br> Gestión de Proyectos
              </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Gestión de Proyectos de Software
              </th>
              <td class="px-6 py-2">
                  Ingeniería de Software II
              </td>
          </tr>
          <tr class="border-b border-gray-200 dark:border-gray-700">
              <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  Práctica Profesionalizante II
              </th>
              <td class="px-6 py-2">
                  Práctica Profesionalizante I
                  <br> Administración
                  <br> Innovación y Desarrollo Emprendedor
              </td>
          </tr>
      </tbody>
  </table>
</div>

</div>
</section>
