
<div class="body container-fluid">
 <!--
    <header class="seccionPerfil d-flex justify-content-between align-items-center mb-3 no-print">
      <h2>Inscripción a Mesa de exámen</h2>
       <div class="iconUsuario d-flex align-items-center no-print">
        <a routerLink="" class="iconNot no-print"><i class="fas fa-bell fa-1x mx-2"></i></a>
        <a routerLink="" class="iconMsj no-print"><i class="fas fa-envelope fa-1x mx-2"></i></a>
        <a routerLink="" class="perfilUser d-flex no-print"> 
          <span class="no-print">Nombre<br><small>Tipo Usuario</small></span>
          <img class="fotoPerfil no-print" src="https://cdn.pixabay.com/photo/2020/06/21/09/48/hill-5324149_640.jpg" alt="imagen alumno">
        </a> 
      </div> 
    </header>
 -->
    <div class="filtros row mb-3 justify-content-end">
      <div class="col-md-3 col-10">
        <div class="input-group d-flex">
          <input type="text" class="form-control" placeholder="Buscar" (input)="buscarMesa($event)">
          <a routerLink="" class="iconBusc input-group-text">
            <span><i class="fas fa-search"></i></span>
          </a>
        </div>
      </div>
    </div>
    
  
  
  
  
    
    <div class="table-responsive">
      <table id="tablaAlumInsc" class="table table-hover text-center align-middle">
        <thead>
          <tr>
            <th colspan="8" class="table-title text-center">
              Mesas de Exámen
            </th>
          </tr>
          <tr>

            <th class="no-pdf">
              <input type="checkbox" class="checkbox m-2 no-print" (change)="toggleSelectAll($event)">
            </th>
           
            <th>Llamado</th>
            <th>Fecha y Hora</th>
            <th>Año</th>
            <th>Asignaturaa</th>
            <th>Tribunal</th>
            
          </tr>
        </thead>
        <tbody>
        
          <ng-container *ngFor="let mesa of datosInscripcionSearch; let i = index">
            <tr>
              
              <td class="no-pdf">
                <input type="checkbox" class="checkbox m-2 no-print" [(ngModel)]="mesa.seleccionada">
              </td>
            
              <td>{{mesa.llamado}}</td>
              <td>{{mesa.fechayHora}}</td>
              <td>{{mesa.anio}}° Año</td>
              <td>{{mesa.asignatura}}</td>
              <td>{{mesa.tribunal}}</td>
            </tr>
          </ng-container>
          <tr>
            <td colspan="8" class="text-end no-print">
              <div class="d-inline-flex">
             
                
                <button id="AcepInsc" class="btn btn-success btn-sm mx-1" (click)="submit()">Aceptar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

   <!-- Alerta con informacion de la inscripción 

   <div *ngIf="showAlert" class="modal-overlay">
    <div class="modal-content">
      <h4 class="text-center"><b> Materias seleccionadas </b></h4>
      <hr class="m-3">
      <ul class="mb-3">
        <li *ngFor="let materia of selectedMaterias" class="m-2">
          <b>ASIGNATURA:</b> {{ materia.materia }} <b>FECHA:</b> {{ materia.fecha }}
        </li>
      </ul>
      
      <div class="d-flex justify-content-center">
        <button routerLink="/estudiante-dashboard" class="btn btn-primary btn-sm">Ok</button>
        <button (click)="closeAlert()" class="btn btn-success btn-sm mx-2">Volver →</button>
      
      </div>
    </div>
  </div>-->
  


  
    