<section class="h-full w-full z-50 ">
  <main class="h-full grid grid-cols-1 sm:grid-cols-2" >

    <!-- Sección izquierda - Descripción -->
    <div id="izquierda" class="h-full bg-white flex flex-col justify-center items-center text-black px-8">
        <div class="titulo text-center mb-8">

            <h1 class="text-4xl md:text-5xl font-semibold mb-2">Profesorado</h1>
            <h2 class="text-3xl md:text-4xl font-semibold"> de Educación Primaria</h2>
      </div>
        <div class="descripcion-carrera">
            <ul class="space-y-4 text-lg md:text-xl">

                <li><span class="font-bold">Perfil profesional:</span> Docente</li>
                <li><span class="font-bold">Título:</span> Profesor de Educación Primaria.</li>
                <li><span class="font-bold">Modalidad de cursado:</span> Presencial.</li>
                <li><span class="font-bold">Duración:</span> 4 (cuatro) años.</li>
                <li><span class="font-bold">Sector de actividad:</span> Docente de Nivel Primario.</li>
                <li><span class="font-bold">Condiciones de ingreso:</span> Estudios Secundarios Completos.</li>

          </ul>
        </div>
    </div>

    <!-- Sección derecha - Logo -->
    <div id="derecha" class="bg-cover bg-center h-full">
      <img class="w-full h-full object-cover rounded-full drop-shadow-lg" src="/assets/img/logos/primaria.png" alt="Imagen responsive">

    </div>
  </main>
</section>

