<div class="main-cont">
  <div class="row w-100">
      <div class="col-md-6 image-cont d-none d-md-flex">
          <img class="imgLogin" src="assets/imagenes/7de62d17fdb021bae96c708fc93a08a22.jpeg" alt="Login Image">
      </div>
      <div class="col-md-6 login-container">

        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <h2 class="text-2xl font-semibold text-center mb-6">Cambiar Contraseña</h2>

      <!-- Nueva Contraseña -->
      <label for="newPassword" class="block text-gray-700 font-medium mb-1">Nueva Contraseña</label>
      <input
        [(ngModel)]="newPassword"
        id="newPassword"
        type="password"
        formControlName="newPassword"
        placeholder="Nueva Contraseña"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-2"
        required
      />
      <div *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)" class="text-red-600 text-sm mt-1">
        <small *ngIf="newPassword?.errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="newPassword?.errors?.['minlength']">Debe tener al menos 8 caracteres.</small>
        <small *ngIf="newPassword?.errors?.['pattern']">Debe incluir mayúsculas, minúsculas y números.</small>
      </div>

      <!-- Confirmar Contraseña -->
      <label for="confirmPassword" class="block text-gray-700 font-medium mb-1">Confirmar Contraseña</label>
      <input
        [(ngModel)]="confirmPassword"
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirma tu nueva contraseña"
        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-4"
        required
      />
      <div *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)" class="text-red-600 text-sm mt-1">
        <small *ngIf="confirmPassword?.errors?.['required']">La confirmación es obligatoria.</small>
        <small *ngIf="passwordForm.errors?.['passwordsMismatch']">Las contraseñas no coinciden.</small>
      </div>

      <!-- Botón para Cambiar Contraseña -->
      <button type="submit" [disabled]="passwordForm.invalid" class="login-button">
        Cambiar Contraseña
      </button>

    </form>
  </div>
</div>




